---
# handlers file for blackbox_exporter

- name: restart blackbox_exporter
  systemd:
    name: blackbox_exporter
    state: restarted
    daemon_reload: yes
  tags:
    - prometheus
    - blackbox_exporter

- name: systemd reload
  systemd:
    daemon_reload: yes
  tags:
    - prometheus
    - blackbox_exporter
...
